@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-background text-foreground font-sans font-medium;
  }
}

.font-sans {
  font-family:
    var(--font-red-hat-display), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .animate-pulse {
    animation: pulse 15s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.1;
    }
  }
}

@layer utilities {
  .font-semibold {
    font-weight: 600;
  }
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

